@mixin dropdown {
    .dropdown{
        display: block;
        background: $color-white;
        min-width: 11rem;
        position: absolute;
        top: 4rem;
        right: 0;
        border-radius: 2px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.02),
        0 2px 2px 0 rgba(0,0,0,.14),
        0 1px 5px 0 rgba(0,0,0,.12);

        li a:link,
        li a:visited{
            text-decoration: none;
            font-size: 1.5rem;
            color: $color-black;
            padding: 1.5rem 6rem 1.5rem 3rem;
            background-color: transparent;
            display: flex;
            align-items: center;
            transition: all .1s;

            &:hover,
            &:active{
                background-color:$color-grey-2 ;
            }
            
        }
        
        .divider{
            border: 1px solid #e0e0e0;
            height: 0;
        }
    }   
}

@mixin link {
    li a:link,
    li a:visited{
        text-decoration: none;
        font-size: 1.5rem;
        color: $color-black;
        padding: 1.5rem 6rem 1.5rem 3rem;
        background-color: transparent;
        display: flex;
        align-items: center;
        transition: all .1s;

        &:hover,
        &:active{
            background-color:$color-grey-2 ;
        }
        
    }
}

//Responsive

/*
0-600px:        phone
600-800px:      tablet portrait
800-1200px:     tablet landscape

1800 + :        big-desktop

  $breakpoint argument choices:
- phone
- tablet-port
- tablet-land
- big-desktop
*/

//1em = 16px


@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media only screen and (max-width:37.5em){ @content};  //600px
    }   
    
    @if $breakpoint == tablet-port{
        @media only screen and (max-width:50em){ @content}; //800px
    }  
    
    @if $breakpoint == tablet-land{
        @media only screen and (max-width:75em){ @content};    //1200px
    }    
    
    @if $breakpoint == big-desktop{
        @media only screen and (min-width:112.5em){ @content}; //1800px
    }
}