*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{ 
    font-size: 62.5%;  // =10px
    box-sizing: border-box;

    @include respond(big-desktop){
        font-size: 87%; //1rem = 14px 14/16 = 87%
    }

    @include respond(tablet-land){ //width < 1200
        font-size: 65%; //1rem = 10.4px 10.4/16 = 65%
    }

    @include respond(tablet-port){ //width < 800
        font-size: 60%; //1rem = 9.6px 9.6/16 = 60%
    }
}

body{
    font-weight: 300;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    color:$color-grey-3;
    background-color: $color-grey-2;
}