.heading-2{
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-black;
}

.heading-3{
    font-size: 2.5rem;
    font-weight: 300;
    color: $color-black;
}

.heading-5{
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #bdbdbd;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    
}

.heading-6{
    font-size: 1.2rem;
    color: $color-grey;
    font-weight: 500;
    margin-bottom: 2rem;
    
}
